<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Farm Sell!!</title>
    <%- include('../partials/bootstrap'); %>
</head>

<body>
    <h1 class="display-2 text-center">Welcome to Farm Sell</h1>
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
        <a class="btn btn-success btn-lg p-5" style="font-size: 2rem;text-decoration: none; color:white"
            href="/products">Navigate
            to
            all
            products</a>
        < </div>
</body>

</html>